# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Media and Download files
*.mp3
*.mp4
*.m4a
*.mkv
*.webm
*.wav
*.flac
*.aac
*.ogg
*.opus
*.part
*.ytdl

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
# Build & Installer
build/
dist/
*.spec
